Flask==3.0.3
bootstrap-flask==2.3.3
Flask-WTF==1.2.1
Flask-Login==0.6.3
python-dotenv==1.0.1
Flask-PyMongo==2.3.0
gunicorn==22.0.0
email-validator==2.1.1
flask-admin==1.6.1
pymongo==4.7.2
dnspython==2.6.1