{% extends 'base.html' %}

{% block content %}


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card mx-auto">
                        <div class="card-body">
                            {% from 'bootstrap5/form.html' import render_form %}
                            {{ render_form(form, novalidate=True, button_map={'submit': 'primary'})|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}